<html>
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="/../components/free-jqgrid/css/ui.jqgrid.min.css">
	<!--<link rel="stylesheet" type="text/css" media="screen" href="/../components/jqueryui/jquery-ui.min.css">-->
	<link rel="stylesheet" type="text/css" media="screen" href="/../components/jquery-ui/themes/base/jquery-ui.min.css">
	<link rel="stylesheet" href="/../css/style.css">
</head>
<body>

	<table id="homes_table"></table>
	<div id="pager"></div>

	<script type="text/javascript" src="/../components/jquery/dist/jquery.min.js"></script>
	<!--<script type="text/javascript" src="/../components/jquery-ui/jquery-ui.min.js"></script>-->
	<script type="text/javascript" src="/../components/free-jqgrid/js/jquery.jqgrid.min.js"></script>
	<script type="text/javascript" src="/../components/free-jqgrid/js/i18n/min/grid.locale-bg.js"></script>

	<script type="text/javascript">

		$.extend($.jgrid.defaults, {
			datatype: 'json',
			jsonReader : {
				repeatitems:false,
				total: function(result) {
					//Total number of pages
					return Math.ceil(result.total / result.max);
				},
				records: function(result) {
					//Total number of records
					return result.total;
				},
				id: "_id"
			},
			prmNames: {rows: 'max', search: null},
			height: 'auto',
			viewrecords: true,
			rowList: [10, 20, 50, 100],
			altRows: true,
			//loadonce: true,
			loadError: function(xhr, status, error) {
				alert(error);
			}
		});

		$(document).ready(function(){
			$("#homes_table")
					.jqGrid({
						url:'/books/data',
						editurl:'/books/data',
						colModel:[
							{name:'ISBN', label: 'ISBN', width: 150, editable: true},
							{name:'datePublished', label: 'Издадена', width: 100, editable: true},
							{name:'EAN', label: 'EAN', width: 150, editable: true},
							{name:'bookTitle', label: 'Заглавие', width: 500, editable: true},
							{name:'pages', label: 'Страници', width: 100, editable: true}
						],
						caption: "Книги",
						pager : '#pager',
						height: 'auto'
					}).navGrid('#pager', {edit:true,add:true,del:true},
					{},
					{},
					{},
					{multipleSearch:true, multipleGroup:false});
		})
	</script>

</body>
</html>
