<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title><%- title %></title>
	<script type="text/less" href="/css/style.less"></script>
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
	<% if (ENV_DEVELOPMENT) { %>
	<% } %>
</head>
<body>
