<% include header %>
	<h1><%-title %></h1>
	<p>Welcome to <%-title %></p>
	<ul>
		<li><a href="/smartadmin/index.html">Smartadmin</a></li>
		<li><a href="/homes">Homes</a></li>
	</ul>
<% include footer %>
